/*
0-600px - Phone
600-900px - Tablet Portrait
900-1200px - Tablet Landscape
[1200-1800]px is where our normal styles apply
1800 px - *px Big desktop
 */
/*
  $breakpoint argument choices
  - phone
  - tab-port
  - tab-land
  - big-desktop

  //ORDER: 1.Base + Typography
           2.General Layout + Grid
           3.Page Layout
           4.Components

  1em = 16px;
 */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,700;1,400;1,800&family=Roboto:ital,wght@0,100;1,100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 112.5em) {
    html {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 60rem;
    background-color: white;
    margin: 8rem auto;
    border-radius: 1rem;
    border-bottom-right-radius: 15rem;
    position: relative;
}

.card__separator-and-circle {
    border: none;
    display: flex;
}

@media (max-width: 37.5em) {
    .card__separator-and-circle {
        margin-top: 5rem;
    }
}

.card__separator-item-line {
    width: 75%;
    align-self: center;
}

@media (max-width: 37.5em) {
    .card__separator-item-line {
        width: 95%;
    }
}

@media (max-width: 37.5em) {
    .card__separator-item-circle {
        position: absolute;
        left: 40%;
        top: 23%;
    }
}

.card__line {
    border: none;
    height: 0.1rem;
    color: #dbdbdb;
    background-color: #dbdbdb;
    margin-left: 4.5rem;
}

@media (max-width: 37.5em) {
    .card__line {
        margin-left: 3rem;
    }
}

.card__separator-circle {
    background-color: #854dff;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

@media (max-width: 37.5em) {
    .card__separator-circle {
        height: 8rem;
        width: 8rem;
    }
}

.card__separator-circle:hover {
    background-color: #141414;
    cursor: pointer;
}

.card__circle-figure {
    height: 10rem;
    width: 10rem;
}

@media (max-width: 37.5em) {
    .card__circle-figure {
        height: 8rem;
        width: 8rem;
    }
}

.card__calc-result {
    margin-top: 4rem;
    text-align: left;
    font-style: italic;
    font-weight: 800;
    font-size: 7rem;
    line-height: 8rem;
    padding-left: 4.5rem;
}

@media (max-width: 37.5em) {
    .card__calc-result {
        margin-top: 8rem;
        font-size: 700%;
    }
}

@media (max-width: 25em) {
    .card__calc-result {
        font-size: 500%;
    }
}

.card__span-result {
    font-size: 7.5rem;
    color: #854dff;
}

@media (max-width: 25em) {
    .card__span-result {
        font-size: 120%;
    }
}

.datepicker {
    display: flex;
    flex-direction: row;
    color: #716f6f;
    width: 90%;
    height: 13rem;
    align-self: center;
    gap: 1rem;
}

.datepicker__controls {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20%;
    margin-top: 2.3rem;
}

@media (max-width: 37.5em) {
    .datepicker__controls {
        width: 33.33333333%;
        height: 10rem;
    }
}

.datepicker__label {
    padding-bottom: 0.5rem;
}

.datepicker__input {
    height: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 0.5rem;
    font-size: 2.2rem;
    font-weight: 800;
    color: #141414;
    padding-left: 1rem;
    caret-color: #854dff;
    caret-shape: block;
}

.datepicker__input:focus {
    outline: 0.1rem solid #854dff;
}

.datepicker__day, .datepicker__month, .datepicker__year {
    height: 1rem;
    padding-top: 1rem;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #141414;
    box-sizing: border-box;
}

.age-calc-cont {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.u-margin-top-small {
    margin-top: 3rem;
}

.u-margin-top-medium {
    margin-top: 6rem;
}

.u-padding-top-small {
    padding-top: 5rem;
}

.u-hidden {
    visibility: hidden;
}

.u-error,
.u-error-label {
    color: #ff5757;
}

.u-error-input {
    border: 1px solid #ff5757;
}
