//COLORS

//PRIMARY
$purple: hsl(259, 100%, 65%);
$red-light: hsl(0, 100%, 67%);

//NEUTRAL
$white: hsl(0, 0%, 100%);
$white-off: hsl(0, 0%, 94%);
$gray-light: hsl(0, 0%, 86%);
$gray-smokey: hsl(0, 1%, 44%);
$black-off: hsl(0, 0%, 8%);


//FONTS
$input-default-font-size: 3.2rem;
$font-name-default: "Poppins";
$normal-font-size: 400;
$medium-font-size: 700;
$bigger-font-size: 800;

//LAYOUT
$layout-desktop: 144rem;
$layout-mobile: 37.5rem;