.card {
  //width: 70%;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  height: 60rem;
  background-color: $white;
  margin: 8rem auto;
  border-radius: 1rem;
  border-bottom-right-radius: 15rem;
  position: relative;


  &__separator-and-circle {
    border: none;
    display: flex;
    @include respond(phone) {
      margin-top: 5rem;
    }
  }

  &__separator-item-line {
    width: 75%;
    align-self: center;
    @include respond(phone) {
      width: 95%;
    }
  }

  &__separator-item-circle {
    @include respond(phone) {
      position: absolute;
      left: 40%;
      top: 23%;
    }
  }

  &__line {
    border: none;
    height: 0.1rem;
    color: $gray-light;
    background-color: $gray-light;
    margin-left: 4.5rem;
    @include respond(phone) {
      margin-left: 3rem;
    }
  }

  &__separator-circle {
    background-color: $purple;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;

    @include respond(phone) {
      height: 8rem;
      width: 8rem;
    }

    &:hover {
      background-color: $black-off;
      cursor: pointer;
    }
  }

  &__circle-figure {
    height: 10rem;
    width: 10rem;
    @include respond(phone) {
      height: 8rem;
      width: 8rem;
    }
  }

  &__calc-result {
    margin-top: 4rem;
    text-align: left;
    font-style: italic;
    font-weight: $bigger-font-size;
    font-size: 7rem;
    line-height: 8rem;
    padding-left: 4.5rem;

    @include respond(phone) {
      margin-top: 8rem;
      font-size: 700%;
    }

    @include respond(small-phone) {
      font-size: 500%;
    }
  }

  &__span-result {
    font-size: 7.5rem;
    color: $purple;
    @include respond(small-phone) {
      font-size: 120%;
    }
  }

}