.u-margin-top-small {
  margin-top: 3rem;
}

.u-margin-top-medium {
  margin-top: 6rem;
}

.u-padding-top-small {
  padding-top: 5rem;
}

.u-hidden {
  visibility: hidden;
}

.u-error,
  //.u-error-input,
.u-error-label {
  color: $red-light;
}

.u-error-input {
  border: 1px solid $red-light;
}
